<h3 class="mng-chip__title"
    contenteditable="true"
    aria-label="Update chip name"
    (blur)="updateChipName($event)">
  {{ name }}
</h3>
<p class="mng-chip__description"
   contenteditable="true"
   aria-label="Update chip description"
   (blur)="updateChipDescription($event)">
  {{ description }}
</p>
<button #deleteChipButton
        class="mng-chip__delete"
        aria-label="Delete chip"
        (click)="deleteChip()">
  <svg *ngIf="!delete"
       style="pointer-events: none;"
       xmlns="http://www.w3.org/2000/svg"
       height="24"
       viewBox="0 0 24 24"
       width="24"
       fill="#464A5B">
    <path d="M19 13H5v-2h14v2z" /></svg>
  <svg *ngIf="delete"
       style="pointer-events: none;"
       xmlns="http://www.w3.org/2000/svg"
       height="24"
       viewBox="0 0 24 24"
       width="24">
    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
  </svg>
</button>
<ng-content></ng-content>
