<header class="mng-column__header">
  <h2 class="mng-column__title"
      contenteditable="true"
      (blur)="updateColumnName($event)">
    {{ name }}
  </h2>
  <div class="mng-column__actions">
    <button class="mng-column__move-column"
            (click)="moveColumn('left')">
      <svg xmlns="http://www.w3.org/2000/svg"
           height="24"
           viewBox="0 0 24 24"
           width="24">
        <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z" /></svg>
    </button>
    <button class="mng-column__move-column"
            (click)="moveColumn('right')">
      <svg xmlns="http://www.w3.org/2000/svg"
           height="24"
           viewBox="0 0 24 24"
           width="24">
        <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" /></svg>
    </button>
    <button #deleteColumnButton
            class="mng-column__delete"
            aria-label="Delete column"
            (click)="deleteColumn()">
      <svg *ngIf="!delete"
           style="pointer-events: none;"
           xmlns="http://www.w3.org/2000/svg"
           height="24"
           viewBox="0 0 24 24"
           width="24"
           fill="#464A5B">
        <path d="M19 13H5v-2h14v2z" />
      </svg>
      <svg *ngIf="delete"
           style="pointer-events: none;"
           xmlns="http://www.w3.org/2000/svg"
           height="24"
           viewBox="0 0 24 24"
           width="24">
        <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
      </svg>
    </button>
  </div>
</header>

<mng-chip *ngFor="let chip of chips"
          [cdkDragData]="chip"
          [id]="chip.id"
          [(name)]="chip.name"
          [(description)]="chip.description"
          (onDeleteChip)="deleteChip($event)"
          (onUpdateState)="updateState()"
          cdkDrag>
  <i class="mng-chip__drag"
     aria-label="Drag chip"
     cdkDragHandle>
    <svg xmlns="http://www.w3.org/2000/svg"
         height="24"
         viewBox="0 0 24 24"
         width="24">
      <path
            d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
    </svg>
  </i>
</mng-chip>

<button class="mng-chip__placeholder"
        aria-label="New chip"
        (click)="newChip()">
  <svg xmlns="http://www.w3.org/2000/svg"
       height="24"
       viewBox="0 0 24 24"
       width="24">
    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
  New chip
</button>
